@use "sass:math";
$default-font-size: 12px;
$cellWidth: math.div(100%, 7);
$spacing: 1%;
$w: 18pt;
$hw: 4pt;
$h: 23pt;
$insidenessFactor: .9;

.multi-event {
    font-size: $default-font-size;
    container-type: inline-size;
    container-name: multievent;
    display: block;
    font-family: roboto;

    .me-calendar {
        container-type: inline-size;
        container-name: mecalendar;

        &:after {
            content: " ";
            clear: both;
            display: table;
        }

        &:before {
            content: " ";
            clear: both;
            display: table;
        }

        .me-day {
            width: $cellWidth - $spacing;
            padding-top: $cellWidth - $spacing;
            margin: 0.5 * $spacing;
            position: relative;
            display: block;
            float: left;
            border-radius: 50%;
            background-color: #f1f1f1;
            color: #9fa8b9;
            font-size: 5cqw;
            cursor: pointer;
            transition: all 0.4s;
            box-sizing: border-box;

            &:after {
                box-sizing: border-box;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 1px solid rgba(0, 0, 0, 0);
                content: "";
                position: absolute;
                z-index: 2;
                border-radius: 50%;
                transition: all 0.4s;
            }

            &.out-of-month {
                color: #c3c1c1;
            }

            &.today:after {
                border: 1cqw solid rgba(113, 156, 250, 0.4);
            }

            &.selected:after {
                // border-color: $inspectionDayColor;
                border-width: 3px;
            }

            &.past {
                span.day-number {
                    text-decoration: line-through;
                    opacity: 0.5;
                }
            }

            &:not(.day-name):hover:after {
                border-color: #208b3a;
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
            }

            &.day-name {
                background-color: #fff;
                color: #a5b9d8;
                font-size: 5cqw;
                cursor: default;
            }

            &.weekend {
                color: red;

            }

            >span {
                position: absolute;
                left: 0;
                right: 0;
                z-index: 3;

                text-align: center;
                top: 50%;
                transform: translateY(-50%);

                &.month-name {
                    text-align: center;
                    font-size: 10px;
                    font-weight: bold;
                    top: -1px;
                    color: #718096;
                }


            }

            &:hover {
                >div.me-events-container {
                    z-index: 6;

                    >div.me-event {
                        background: white;
                        width: fit-content;
                        box-shadow: -4px 0px 6px rgba(0, 0, 0, 0.3);
                        z-index: 6;
                        border-radius: 0 7px 7px 7px;
                        left: 15% !important;
                        top: 0 !important;

                        //transform: translateX(0) translateY(-50%);
                        >span {
                            visibility: visible;
                        }

                        @for $i from 1 through 10 {
                            &:nth-child(#{$i}) {
                                z-index: (10 + $i);
                                transform: translateY(1 * ($i - 1) * $h);
                            }
                        }

                        i.dot {
                            outline: 4px solid white;
                        }
                    }
                }
            }

            >div.me-events-container {
                // top: 0;
                // width: 100%;
                // height: 100%;
                // position: absolute;
                z-index: 5;

                >div.me-event {
                    transition: background-color 0.1s, transform 0.6s ease-out,
                        left 0.6s;
                    width: $w;
                    height: $h;
                    overflow: visible;
                    position: absolute;
                    box-sizing: border-box;
                    display: block;
                    //transform: translateY(-1*$hw) translateX(-1*$hw);
                    z-index: 5;
                    padding: 1px 5px 1px 0;
                    text-indent: 10px;
                    line-height: $h;

                    >span {
                        visibility: hidden;
                        transition: all 0.5s, visibility 0;
                        white-space: nowrap;

                        >span.me-event-time {
                            padding-right: 10px;
                            font-weight: bold;

                        }
                    }

                    @for $i from 1 through 10 {
                        &:nth-child(#{$i}) {
                            top: 50% * (1 - $insidenessFactor * math.cos(($i - 1) * 20deg));
                            left: 50% *(1+ $insidenessFactor * math.sin(($i - 1) * 20deg)); //calc(50% - $hw);
                        }
                    }

                    i.dot {
                        // border: 1px solid rgb(116, 116, 116);
                        position: absolute;
                        border-radius: 50%;
                        left: -6px;
                        top: -6px;
                        width: 12px;
                        height: 12px;

                        @container mecalendar (max-width: 560px) {
                            width: 8px;
                            top: -4px;
                            height: 8px;
                            left: - 4px;
                        }

                        @container mecalendar (max-width: 320px) {
                            width: 5px;
                            top: -2.5px;
                            height: 5px;
                            left: - 2.5px;
                        }

                        @container mecalendar (max-width: 260px) {
                            width: 4px;
                            top: -2px;
                            height: 4px;
                            left: - 2px;
                        }
                    }
                }
            }

        }

    }

    .me-yearbar {
        position: relative;

        button {
            border: none;
            width: 12%;
            padding: 12% 0 0 0;
            background: none;
            position: absolute;
            top: -7%;
            font-weight: normal;
            border-radius: 50%;
            font-size: 0;
            color: rgba(0, 0, 0, 0);
            cursor: pointer;
            transition: all .5s;

            &:hover {
                background-color: rgba(100, 100, 100, .5);
                &:after{
                    color: white;
                }
                
            }

            &:after {
                transition: all .5s;
                top: 0;
                left: 25%;
                font-size: 8cqw;
                color: rgba(0, 0, 0, .5);
                transform: scaleY(1.6);
                position: absolute;
                font-family: Verdana, Geneva, Tahoma, sans-serif;

            }
        }

        >span {
            display: block;
            text-align: center;
            font-size: 9cqw;

        }

        .me-next-button {
            right: 0;

            &:after {
                content: ">";
            }

        }

        .me-prev-button {
            left: 0;

            &:after {
                content: "<";
                left: 20%;
            }
        }
    }

    &.rtl {
        direction: rtl;

        .me-day {
            float: right;
        }

        .me-yearbar {

            .me-next-button {
                left: 0;
                right: auto;
            }

            .me-prev-button {
                right: 0;
                left: auto;
            }
        }


    }

}