@use "sass:math";

$cellWidth: math.div(100%, 7);
$spacing: 1%; 
$w: 8px;
$hw: 4px;
$h: 23px;


.multi-event {
    display: block;

    .multi-event-calendar::after {
        content: "";
        clear: both;
        display: table;
    }

    .multi-event-calendar {
        .multi-event-day {
            width: $cellWidth - $spacing;
            padding-top: $cellWidth - $spacing;
            margin: 0.5 * $spacing;
            position: relative;
            display: block;
            float: left;
            border-radius: 50%;
            background-color: #f1f1f1;
            color: #6b7280;
            font-size: 13px;
            cursor: pointer;
            transition: all 0.4s;

            &:after {
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 1px solid rgba(0, 0, 0, 0);
                content: "";
                position: absolute;
                z-index: 2;
                border-radius: 50%;
                transition: all 0.4s;
            }

            &.out-of-month {
                color: #c3c1c1;
            }

            &.today:after {
                border-color: #208b3a;
            }

            &.selected:after {
                // border-color: $inspectionDayColor;
                border-width: 3px;
            }

            &.past {
                span.day-number {
                    text-decoration: line-through;
                    opacity: 0.5;
                }
            }

            &:not(.day-name):hover:after {
                border-color: #208b3a;
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
            }

            &.day-name {
                background-color: #fff;
                color: #718096;
                font-size: 12px;
                cursor: default;
            }

            >span {
                position: absolute;
                left: 0;
                right: 0;
                z-index: 3;

                &.day-number {
                    text-align: center;
                    top: 50%;
                    transform: translateY(-50%);
                }

                &.month-name {
                    text-align: center;
                    font-size: 10px;
                    font-weight: bold;
                    top: -1px;
                    color: #718096;
                }

                &.tenders-container {
                    top: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 5;

                    >span {
                        transition: background-color 0.1s, transform 0.6s ease-out,
                            left 0.6s;
                        width: $w;
                        height: $h;
                        overflow: visible;
                        position: absolute;
                        box-sizing: border-box;
                        display: block;
                        //transform: translateY(-1*$hw) translateX(-1*$hw);
                        z-index: 5;
                        padding: 0 5px 0 0;
                        text-indent: 10px;
                        line-height: $h;

                        >span {
                            visibility: hidden;
                            transition: all 0.5s, visibility 0;
                            white-space: nowrap;
                        }

                        @for $i from 1 through 10 {
                            &:nth-child(#{$i}) {
                                left: 50%+ 47% * math.sin(($i - 1) * 20deg); //calc(50% - $hw);
                                top: 50% - 47% * math.cos(($i - 1) * 20deg);
                            }
                        }

                        i.dot {
                            border: 1px solid white;
                            position: absolute;
                            left: -$hw;
                            top: -$hw;
                        }
                    }
                }

                &:hover {
                    &.tenders-container {
                        z-index: 6;

                        >span {
                            background: white;
                            width: fit-content;
                            box-shadow: -4px 0px 6px rgba(0, 0, 0, 0.3);
                            z-index: 6;
                            border-radius: 0 7px 7px 7px;
                            left: 15%;
                            top: 0;

                            //transform: translateX(0) translateY(-50%);
                            >span {
                                visibility: visible;
                            }

                            @for $i from 1 through 10 {
                                &:nth-child(#{$i}) {
                                    z-index: (10 + $i);
                                    transform: translateY(1 * ($i - 1) * $h);
                                }
                            }

                            i.dot {
                                outline: 4px solid white;
                            }
                        }
                    }
                }
            }
        }

    }

}
